*{
    margin: 20px;
    margin-top: 2px;
    font-family: 'Karla', sans-serif;
    color: #fff;
    text-decoration: none;
  }
  body{
    background-image: url(hinhnen.png);
    background-size: 100% 100%;
  }
  .header{
    display: flex;
    align-items: center;
  }
  .logo img{
    
    width: 150px;
    height: 150px;
  }
  button {
    background-color: #000000; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 16px;
    border: 2px solid #edeff2; 
    border-radius: 6px; 
    transition: background-color 0.3s, color 0.3s;
  }
  button:hover {
    background-color: #6597da; 
    color: #fff; 
  }
  .login{
    color: #f8f8f8;
    transition: 0.5s;
    font-size: 18px;
  }
  .btn{
   
    color: #f8f8f8;
    transition: 0.5s;
    font-size: 18px;
  }
  .content{
    margin-left: 30px;
  }
  .content h2{
    margin-block-start: 10px;
    font-size: 48px
  }
  .content p{
    margin-left: 50px;
    font-size: 18px;
    line-height: 30px;
  }
  .link {
    margin-top: 30px;
  }
  .hire{
    color: #f8f8f8;
    font-weight: bold;
    transition: 0.5s;
  }