/*-------PRODUCT-------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  color: rgb(229, 44, 44);
}

.center {
  display: flex;
}

.image {
  width: 60%;
  padding-right: 20px;
  display: flex;
}

.big-image {
  width: 60%;
  padding-right: 20px;
}

.big-image img {
  width: 100%;
}

.small-image {
  width: 40%;
  cursor: pointer;
}

.small-image img {
  width: 50%;
  height: 30%;
}

.infor {
  width: 40%;
  padding-left: 20px;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.price {
  margin: 12px 0;
  font-size: 25px;
  font-weight: bold;
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
}

.description {
  line-height: 1.5;
}

.rating {
  font-size: 30px;
  /* Kích thước của sao */
}

.rating .nbuy {
  font-size: 20px;
  color: grey;
}

.star {
  color: gold;
  /* Màu sắc của sao */
}

.buttons button {
  width: 200px;
  height: 40px;
  color: rgb(152, 50, 50);
  font-size: 15px;
  font-weight: bold;
  border: 2px solid rgb(152, 50, 50);
  border-radius: 8px;
  display: block;
  margin: 20px 0 12px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: rgb(186, 31, 31);
  color: #fff;
}

.othersProduct {
  padding-top: 10px;
}

.othersProduct .listProduct {
  padding-top: 20px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
}


button {
  padding: 10px;
}

.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
}

.toast {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  width: 400px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  border-radius: 5px;
  --color: #0abf30;
  background-image: linear-gradient(to right, #0abf3055, #22242F 30%);
  animation: show_toast 0.3s ease forwards;
}

.toast i {
  color: var(--color);
}

.toast .title {
  font-size: x-large;
  font-weight: bold;
}

.toast i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.toast span,
.toast .close {
  opacity: 0.6;
  color: #fff
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10%);
  }
}

.toast::before {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color);
  box-shadow: 0 0 10px var(--color);
  content: '';
  width: 100%;
  height: 3px;
  animation: timeOut 5s linear 1 forwards;
}

@keyframes timeOut {
  to {
    width: 0%;
  }
}