* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
.container {
  width: 100%;
  height: auto;
  background-size: cover;
}
  a {
    color: #000;
    text-decoration: none;
  }
  nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left {
    flex-basis: 50%;
  }
  
  .right {
    flex-basis: 50%;

  }
  
form{
	padding: 1rem;
}

h3{
	margin-top: 1rem;
	color: #000;
	}
form input[type="radio"]{

    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;
  }
form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
  
}

#zip{
	display: flex;
	margin-top: 0.5rem;
}
#zip select{
	padding: 0.5rem 0.7rem;
}
#zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}
.fixed-buttons-container {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0.1px; /* Điều chỉnh vị trí hiển thị của nút */
  background: #fff; /* Thay đổi màu nền tùy chọn */
  z-index: 999; /* Đảm bảo nó xuất hiện trước mọi thứ khác */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: transform 0.3s ease-in-out; /* Thêm hiệu ứng chuyển động */
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 0; 
}
.fixed-buttons-container a {
  color: #000;
  text-decoration: none;
}

.fixed-buttons-container .back-to-cart,
.fixed-buttons-container .checkout-button {
  display: flex;
  align-items: center;
}

.fixed-buttons-container .checkout-button {
  margin-left: auto; /* Dịch chuyển nút THANH TOÁN NGAY về phía bên phải */
}
